.filters {
    padding: 2rem 2rem 1rem 2rem;
    margin: 0 auto;
    max-width: 1200px;

    @include tablet-landscape {
        padding: 2rem;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        h4 {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-family: $proxima-nova;
            font-size: 0.875rem;
        }
        
        .mobile-toggle-filters {
            padding-left: 0.5rem;
            @include tablet-landscape {
                display: none;
            }

            a {
                color: $green;
                font-style: italic;
                font-size: 0.8125rem;
                display: inline-block;
            }
        }
    }

    .alm-filters-container {
        height: 0;
        overflow: hidden;
        margin-bottom: 0;
        transition: all 0.3s ease-in;
        opacity: 0;

        &.active {
            transition: all 0.3s ease-in;
            height: auto;
            opacity: 1;
        }

        @include tablet-landscape {
            height: auto;
            opacity: 1;
            display: flex;
            justify-content: space-between;
            width: 100%;
      
        }
    }

    .alm-filters {
        max-width: 400px;

        @include tablet-landscape {
            max-width: 100%;

            .alm-filter {
                width: calc(33.3333% - 2rem);
            }
        }

        #alm-filter-3 {
            .alm-filter--inner {
                padding-bottom: 0;

                ul {
                    display: flex;
                    align-items: center;
                    padding-top: 0.25rem;


                    li + li {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    .alm-filter--title {
        padding-bottom: 0.25rem;

        h3 {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-family: $proxima-nova;
            font-size: 0.675rem;
            color: $green;
            margin-bottom: 0;
        }
    }

    .alm-filter--inner {
        padding-bottom: 2rem;

        @include tablet-landscape {
            padding-bottom: 0;
        }
    }

    .alm-filter--select  {
        select {
            width: 100%;
            font-family: $proxima-nova;
            height: 2rem;
            line-height: 1em;
            padding: 0 0.25rem;
            border-radius: 3px;
            border-color: #d5d5d5;
        }
    }

    .alm-filter--checkbox {

        .alm-filter--link {
            font-family: $proxima-nova;
            font-size: 0.75rem;
            line-height: 22px;

            &.active.field-checkbox:before {
                background: $green;
                border-color: $green;
            }
        }


    }


}

.sidebar {
    margin-bottom: 3rem;
    grid-column: 1 / -1;
    background: #f8f8f8;

}