.profiles-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

    @include mobile-landscape {
        grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-portrait {
        grid-template-columns: repeat(3, 1fr);
    }


    @include tablet-landscape {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .section-header {
        grid-column: 1 / -1;

        h2 {
            font-size: clamp(2rem, 2.2vw, 3.5rem);
            &:after {
                display: block;
                content: '';
                width: 40px;
                height: 4px;
                margin-top: 0.5rem;
                background: $green;
            }
        }
    }
}

.ajax-load-more-wrap {
    .alm-btn-wrap {
        padding-top: 4rem;
        
        .alm-load-more-btn {
            color: $slate;


            &.loading,
            &:hover {
                background: $green;
                color: $white;
            }

            &.done {
                display: none;
            }
        }
    }
}