.profile {
    border: 1px solid #eee;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;

    &:hover {
        img {
            transform: scale(1.05);
            transform-origin: center center;
        }
    }
    
    .photo {
        @include aspect-ratio(1, 1);
        @include cover-image;

        .cat {
            position: absolute;
            top: -5px;
            left: 0;
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: center;

            h4 {
                font-family: $proxima-nova;
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 0.05em;
                color: $white;
                display: inline-block;
                padding: 0.25rem;
                border-radius: 2px;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        img {
            border-radius: 50%;
            transition: all 0.3s ease-out;
        }

    }

    .info {
        padding-top: 1rem;
        text-align: center;

        .location {
            padding-bottom: 0.25rem;

            h5 {
                font-style: italic;
                font-weight: 400;
            }
        }

        .name {
            h3 {
                line-height: 1.25em;
                font-size: clamp(1.25rem, 1.3vw, 1.5rem);

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .tagline {
            padding: 0.25rem 0 1rem 0;

            h4 {
                font-family: $proxima-nova;
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 0.05em;
                line-height: 1.25em;
            }
        }
        
        .profile-link {
            a {
                display: inline;
                font-size: 0.875rem;
                line-height: 1.3em;
                border-bottom: 1px solid $green;

                span {
                    font-family: $proxima-nova;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    font-style: normal;
                    letter-spacing: 0.05em;
                    font-weight: bold;
                    display: inline-block;
                }
            }
        }
    }

    &.emerging {
        .cat {
            h4 {
                background: $green;
            }
        }
        .photo {

            img {
                animation: pulse-animation 2s infinite;
                border: 3px solid $green;
            }
        }
    }
    
    &.established {
        .cat {
            h4 {
                background: $blue;
            }
        }

        .photo {
            img {
                border: 3px solid $blue;
            }
        }
    }
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 2px 0px rgba(252, 68, 68, 0.4);
    }
    100% {
      box-shadow: 0 0 2px 16px rgba(252, 68, 68, 0);
    }
  }