@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('fonts/TiemposHeadline-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Bold.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('fonts/TiemposHeadline-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@import url("https://use.typekit.net/hvb2rav.css");

$tiempos-headline: 'Tiempos Headline', serif;
$proxima-nova:  proxima-nova, sans-serif;
$liberation: liberation-serif, serif;