@import url("https://use.typekit.net/hvb2rav.css");
@font-face {
  font-family: "Tiempos Headline";
  src: url("fonts/TiemposHeadline-Regular.woff2") format("woff2"), url("fonts/TiemposHeadline-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("fonts/TiemposHeadline-RegularItalic.woff2") format("woff2"), url("fonts/TiemposHeadline-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("fonts/TiemposHeadline-Bold.woff2") format("woff2"), url("fonts/TiemposHeadline-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("fonts/TiemposHeadline-BoldItalic.woff2") format("woff2"), url("fonts/TiemposHeadline-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
.dk-news .share {
  margin-bottom: 3rem;
  display: flex;
}
.dk-news .share-wrapper {
  padding: 1rem 2rem 0.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #2bc20e;
}
.dk-news .share span.label {
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #2bc20e;
}
.dk-news .share .link {
  padding-left: 0.625rem;
}
.dk-news .share .link img {
  margin-bottom: 0;
  transition: all 0.1s ease-in;
}
.dk-news .share .link a {
  width: 2.25rem;
  height: 2.25rem;
  border: 2px solid #2bc20e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dk-news .share .link a:hover {
  background: #2bc20e;
}
.dk-news .share .link a:hover img {
  filter: grayscale(1) invert(1) brightness(100);
}
.dk-news .share .link.facebook img {
  width: 8px;
  height: 13px;
}
.dk-news .share .link.twitter img {
  width: 15px;
  height: 12px;
}
.dk-news .share .link.email img {
  width: 18px;
  height: 13px;
}

.dk-banner .content {
  display: flex;
  justify-content: center;
}
.dk-banner .content a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.dk-sponsored {
  margin-top: 50px;
  padding: 2rem;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .dk-sponsored {
    padding: 4rem;
  }
}
.dk-sponsored .sponsored-label {
  text-align: center;
  padding-bottom: 2rem;
}
.dk-sponsored .sponsored-label h5 {
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: clamp(0.625rem, 1vw, 0.75rem);
}
.dk-sponsored .logo {
  max-width: 10rem;
  max-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.dk-sponsored .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dk-sponsored p {
  font-size: clamp(0.875rem, 1.1vw, 1rem) !important;
  padding-bottom: 1rem !important;
}

.hebrew-text {
  direction: rtl;
  font-family: liberation-serif, serif;
}

.ji-block.related {
  padding-bottom: 2rem;
}
.ji-block.related .related-link {
  border: 1px solid #E5D3D3;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.ji-block.related .photo {
  width: 6rem;
  position: relative;
}
.ji-block.related .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.ji-block.related .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ji-block.related .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ji-block.related .photo a {
  display: block;
  width: 100%;
  height: 100%;
}
.ji-block.related .photo + .info {
  padding-left: 1rem;
  flex: 1;
}
.ji-block.related .info .related-sub-header {
  padding-bottom: 0.5rem;
}
.ji-block.related .info .related-sub-header h5 {
  font-weight: normal;
  font-style: italic;
  color: #7a7a7a;
  letter-spacing: 0.05em;
  font-size: clamp(0.75rem, 0.85vw, 0.875rem);
}
.ji-block.related .info .tagline {
  padding-bottom: 0.25rem;
}
.ji-block.related .info .tagline h4 {
  font-family: proxima-nova, sans-serif;
  color: #2bc20e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}
.ji-block.related .info .headline {
  max-width: 30rem;
}
.ji-block.related .info .headline h3 {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1.25em;
  font-weight: normal;
}
.ji-block.related .info .headline h3 a {
  border-bottom-color: transparent;
  border-bottom-width: 1px;
}
.ji-block.related .info .headline h3 a:hover {
  border-bottom-color: #000;
}
.ji-block.related .info .read-more {
  padding-top: 0.5rem;
}
.ji-block.related .info .read-more span.label {
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.625rem;
  letter-spacing: 0.05em;
  display: inline-block;
  border-bottom: 2px solid #2bc20e;
  padding-bottom: 2px;
}
.ji-block.related .related-podcast .read-more {
  display: flex;
  align-items: center;
}
.ji-block.related .related-podcast .read-more:before {
  display: block;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background: url(images/icon-play.svg) no-repeat 0 0;
  background-size: contain;
  margin-right: 0.25rem;
}
.ji-block.related.is-admin {
  max-width: 840px;
  margin: 0 auto;
}
.ji-block.related.is-admin h3 {
  margin: 0;
}
.ji-block.related.is-admin h4 {
  margin: 0;
  line-height: 1em;
}
.ji-block.related.is-admin a {
  color: #000;
  text-decoration: none;
}

.show-more-wrapper .ji-block.related {
  padding-top: 2rem;
}

.editor-styles-wrapper .dk-block h2,
.editor-styles-wrapper .wp-block-group h2 {
  font-family: "Tiempos Headline", serif;
  text-align: center;
  padding: 0 0 25px 0;
  font-size: 28px;
  margin: 0;
}
.editor-styles-wrapper .dk-block h2:after,
.editor-styles-wrapper .wp-block-group h2:after {
  display: block;
  content: "";
  width: 40px;
  height: 4px;
  background: #2bc20e;
  margin: 15px auto 0 auto;
  position: static;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .dk-block h2,
.editor-styles-wrapper .wp-block-group h2 {
    font-size: 32px;
  }
}
.editor-styles-wrapper .dk-block h4,
.editor-styles-wrapper .wp-block-group h4 {
  text-transform: uppercase;
  color: #2bc20e !important;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 14px !important;
  padding: 0;
  margin: 0;
}
.editor-styles-wrapper .dk-block h4 + h3,
.editor-styles-wrapper .wp-block-group h4 + h3 {
  padding-top: 10px;
}
.editor-styles-wrapper .dk-block h3,
.editor-styles-wrapper .wp-block-group h3 {
  font-family: "Tiempos Headline", serif;
  font-size: 24px;
  line-height: 1.25em;
  padding-bottom: 15px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .dk-block h3,
.editor-styles-wrapper .wp-block-group h3 {
    font-size: 28px;
  }
}