.desktop-nav-links {
    display: none;

    @include tablet-landscape {
        display: flex;
        align-items: center;
        padding-left: 40px;
    }

    a {
        font-family: $proxima-nova;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: block;
        font-size: 0.75em;
        font-weight: bold;

        & + a {
            &:before {
                content: "·";
                padding: 0 20px;
                color: $green;

                @include tablet-portrait {
                    padding: 0 15px;
                }
            }
        }

        span {
            padding: 4px 0;
            display: inline-block;
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease;
        }

        &:hover {
            span {
                text-decoration: none;
                border-bottom-color: $green;
            }
        }

        @include desktop {
            font-size: 0.875em;
        }

        &:nth-child(4) ~ a {
            @include tablet-landscape {
                display: none;
            }

            @include desktop {
                display: block;
            }
            
        }
    }
}