#toggle {
    width: 30px;
    cursor: pointer;
    padding: 8px 0;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    z-index: 10001;

    @include desktop {
        width: 40px;
    }

    .patty {
        width: 20px;
        height: 2px;
        background: $charcoal;
        transition: all 0.3s;

        @include desktop {
            width: 30px;
        }

        &:after, &:before {
            content: '';
            display: block;
            height: 2px;
            background: $charcoal;
            position: absolute;
            z-index: 1;
            transition: all 0.3s;
        }
        
        &:before {
            width: 30px;
            top: -7px;

            @include desktop {
                width: 40px;
            }
        }

        &:after {
            width: 25px;
            top: 7px;

               @include desktop {
                   width: 35px;
            }
        }
    }
}