.site-header {
	padding: 25px 0;
	border-top: 5px solid $green;
	border-bottom: 1px solid $off-white;

	.wrapper {
		max-width: 100%;
		padding: 0 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    @import "logo";

    @import "desktop-nav-links";

    @import "utilities";

    @import "hamburger-menu";
    
}

@import "network";

@import "overlay";

@import "open";

@import "nav";