.logo {
    @include tablet-landscape {
        display: flex;
    }

    .logo-type {
        img {
            max-width: 6rem;

            @include tablet-landscape {
                max-width: 8rem;
            }

        }
    }

    .site-tagline {			
        display: none;

        @include tablet-portrait {
            padding: 10px 0 0 0;
            display: block;
        }

        @include tablet-landscape {
            padding: 5px 0 0 20px;
        }

        @include desktop {
            padding: 8px 0 0 20px;
        }

        span {
            font-size: 0.875em;
            color: $green;

            @include desktop {
                font-size: 1em;
            }
        }
    }
}