.site-header.header-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @include tablet-portrait {
        border-bottom: none;
    }

    @include tablet-landscape {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .logo {
        .site-tagline {
            span {
                color: $white;
            }
        }		
    }

    .desktop-nav-links {
        a {
            color: $white;
        }
    }

    #toggle {
        .patty {
            background: $white;

            &:after, &:before {
                background: $white;
            }
        }
    }
}