.utilities {
    margin-left: auto;
    display: flex;
    align-items: center;

    .social,
    .subscribe {
        display: none;

        @include tablet-portrait {
            padding-right: 20px;
        }

        @include desktop {
            padding-right: 30px;
        }			
    }

    .social {
        @include tablet-landscape {
            display: flex;
            align-items: center;

            .social-link {
                display: block;

                & + .social-link {
                    padding-left: 30px;
                }

                &.facebook {
                    img {
                        width: 100%;
                        max-width: 10px;
                        transform: translateY(-1px);
                    }
                }

                &.twitter {
                    img {
                        width: 100%;
                        max-width: 20px;
                    }
                }
            }
        }
    }

    .subscribe {
        @include tablet-portrait {
            display: block;
        }
        .subscribe-btn {
            @include tablet-portrait {
                font-size: 0.875em;
                padding: 11px 16px 8px 16px;
            }

            @include desktop {
                font-size: 1em;
            }

        }
    }

    .search {
        padding-right: 20px;

        @include desktop {
            padding-right: 30px;
        }		

        .search-btn {
            img {
                width: 100%;
                max-width: 18px;

                @include desktop {
                    max-width: 20px;
                }
            }
        }
    }
}