section.page-header {
    padding: 50px 0;
    text-align: center;

    @include tablet-portrait {
        padding-top: 75px;
    }

    .wrapper {
        max-width: 960px;
    }

    .meta {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $proxima-nova;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.75rem;
        padding-bottom: 15px;

        * + * {
            padding-left: 25px;
        }

        span {
            font-weight: 500;
            color: $charcoal;
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 24px;

        }

        .category {
            span {
                background-image: url('images/category-icon-red.svg');
                background-size: 16px 16px;
            }
        }

        .location {
            span {
                background-image: url('images/location-icon-red.svg');
                background-size: 16px 16px;
                padding-left: 22px;
            }
        }
    }
}