section.body {
    padding-bottom: 50px;

    .wrapper {
        max-width: 90%;
        padding: 0;

        @include tablet-landscape {
            max-width: 800px;
        }
    }

    img {
         margin-bottom: 40px;
         height: auto;
    }

    .twitter-tweet {
        width: 100% !important;
    }

    .wp-block-embed {
        margin-bottom: 40px;

        .fb_iframe_widget {
            width: 100%;

            & > span {
                width: 100% !important;
                height: auto !important;
            }

            iframe {
                width: 100% !important;
            }
        }
    }


    .wp-block-image {
        margin-bottom: 40px;

        img {
            margin-bottom: 0;
        }

        figcaption,
        .figcaption {
            color: $mid-gray;
            text-align: left;
            margin: 15px 0 0 0;
            font-size: 0.9375em;
            line-height: 1.5em;
            font-style: italic;
            padding: 0;
        }
    }

    .wp-caption {
        width: 100% !important;
    }
}