section.header {

    .tagline {
        padding-bottom: 15px;

        @include desktop {
            padding-bottom: 25px;
        }

        strong, h4 {
            display: inline-block;
            color: $green;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-family: $proxima-nova;
            font-size: 0.875em;
        }
    }

    .title + .byline {
        padding-top: 25px;
    }

    .dek {
        margin: 0 auto;
        max-width: 600px;
        padding: 20px 0;


        p {
            font-style: italic;
            font-size: 1.125em;
            line-height: 1.5em;
            color: $mid-gray;

            @include mobile-landscape {
                font-size: 1.375em;
            }


        }
    }

    .byline {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1em;
        padding-bottom: 25px;

        @include tablet-portrait {
            font-size: 1.125em;
        }

        .authors {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: 10px;

            @include tablet-portrait {
                width: auto;
                padding-bottom: 0;

                &:after {
                    content: '·';
                    padding: 0 10px;
                }
            }

            .by {
                padding-right: 5px;
            }

            .author  {
                display: flex;
                width: auto;

                &:before {
                    content: ", ";
                    margin-right: 6px;
                }

                &:first-of-type:before {
                    content: "";
                    margin-right: 0;
                }

                a {
                    border-bottom: 2px solid $green;
                }
            }
        }
    }

    .share {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;

        @include tablet-landscape {
            padding-bottom: 20px;
        }

        span.label {
            font-family: $proxima-nova;
            text-transform: uppercase;
            letter-spacing: 0.05em;

        }

        .link {
            padding-left: 10px;
            a {
                width: 36px;
                height: 36px;
                border: 2px solid $green;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $green;
                }
            }
        }
    }

    .dateline {
        text-align: left;
        max-width: 800px;
        margin: 0 auto;
        transform: translateX(-30px);

        @include mobile-landscape {
            transform: translateX(-25px);
        }

        @include tablet-landscape {
            transform: translateX(0);
        }

        h5 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1em;
            font-style: italic;
            letter-spacing: 0.1em;
            line-height: 1.25em;
            color: $mid-gray;

            @include mobile-landscape {
                font-size: 1.125em;
            }
        }
    }
}