section.main {
    padding-bottom: 100px;
    min-height: 50vh;

    .wrapper {
        max-width: 960px;
        width: 100%;
    }

    section.content {
        width: 100%;
        padding-bottom: 50px;

        @include tablet-portrait {
            width: calc(66.6666% - 25px);
            padding-bottom: 0;
            margin-right: auto;
        }
    }
}