.header {
    width: 100%;
    padding-bottom: 20px;

    h5 {
        font-family: $proxima-nova;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.1em;
        color: $mid-gray;

        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 3px;
            background: $mid-gray;
            margin-top: 10px;
        }

    }
}