.coming-soon {
    .subscribe-container {
        padding-top: 2rem;
    }

    .info {
        padding: 2rem;
        border: 4px solid $green;
        margin-top: 1rem;
    }

    .headline {
        padding-bottom: 1rem;

        h3 {
            font-size: clamp(1.5rem, 4vw, 2rem);
            color: $green;
        }
    }

    .copy {
        p {
            font-family: $proxima-nova;

        }
    }


    .subscribe-container {
        display: flex;
        justify-content: center;
    }


    .subscribe-btn {
        display: inline-block;
    }
}