section.back {
    margin-bottom: 3rem;

    a {
        color: $green;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        font-family: $proxima-nova;
        font-weight: bold;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;

        &:before {
            content: '←';
            padding-right: 0.25rem;
        }

        &:hover {
            border-bottom: 1px solid $green;
        }
    }
}