.body {
	a {
		border-bottom: 2px solid $green;

		&:hover {
			
		}
	}

	&.p1 {
		p {
			font-size: 1em;
			line-height: 1.7em;
			padding-bottom: 30px;

			@include mobile-landscape {
				font-size: 1.125em;
			}

			@include desktop {
				font-size: 1.25em;
			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		ul, ol {
			padding-bottom: 30px;

			li {
				margin-left: 17px;
				font-size: 1em;
				line-height: 1.7em;

				@include mobile-landscape {
					font-size: 1.125em;
				}

				& + li {
					padding-top: 20px;
				}

			}
		}

		blockquote {
			margin: 0 0 40px 20px;
			max-width: 600px;

			p {
				border-left: 5px solid $black;
				padding: 0 0 0 20px;
				font-size: 1em;
				
				@include tablet-portrait {
					font-size: 1.125em;
				}

				& + p {
					padding-top: 20px;
				}
			}
		}
	}
}

.copy {
	&.p2 {
		p {
			font-size: 1.125em;
			line-height: 1.7777em;

			& + p {
				padding-top: 25px;
			}
		}

		a {
			border-bottom: 2px solid $green;
		}
	}

	&.p3 {
		p {
			font-size: clamp(0.875rem, 1.25vw, 1rem);
			line-height: 1.7777em;

			& + p {
				padding-top: 1.5rem;
			}
		}

		a {
			border-bottom: 2px solid $green;
		}
	}
}
