body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
	font: 400 100%/1 $tiempos-headline;
}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

/* Selection  */
::-moz-selection {
    background: $green;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $green;
    color: $white;
    text-shadow: none;
}

@import "headings";

@import "copy";