.grid {
	display: grid;
	gap: 0 2rem;
    grid-template-columns: minmax(0, auto) repeat(4, minmax(auto,  1fr)) minmax(0, auto);
    
	@include mobile-landscape {
		grid-template-columns: minmax(0, auto) repeat(8, minmax(auto,  1fr)) minmax(0, auto);
	}

	@include tablet-landscape {
		grid-template-columns: minmax(0, auto) repeat(12, minmax(0,  4rem)) minmax(0, auto);
    }
    
	& > * {
        grid-column: 2 / span 4;
        
        @include mobile-landscape {
            grid-column: 2 / span 8;
        }

        @include tablet-landscape {
            grid-column: 2 / span 12;
        }
	}
}