body {
	background: $white;
	margin: 0 auto;
	max-width: 1920px;
}

main.site-content {
	padding: 3rem 0;
	
	@include tablet-portrait {
		padding: 6rem 0;
		min-height: 60vh;
	}
}

@import "grid";

@import "wrapper";

@import "cover";

@import "main-page-content";