body.single-post,
body.category-quick-hits {

	@import '../template-parts/quick-hits/article';
}

body.category-quick-hits {
	section.main {
		padding-bottom: 0 !important;
	}

	@import '../template-parts/quick-hits/teasers';

	section.quick-hits {
		order: 2;
		display: none;

		@include tablet-portrait {
			display: block;
			order: 1;
		    max-width: 360px;
		    border-right: 1px solid #eee;
		    border-bottom: none;
		}
	}

	nav.pagination {
		max-width: 850px;
		padding-bottom: 50px;

		@include desktop {
			margin-left: 50px;
		}
	}
}