body.single-profiles {
    main.site-content {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    @import '../template-parts/single-profiles/back';

    @import '../template-parts/single-profiles/profile';

    @import '../template-parts/single-profiles/pagination';

    @import '../template-parts/single-profiles/related';
}