body.single-podcasts {
    .site-content {
        padding-top: 0;
    }
    
    @import '../template-parts/single-podcasts/show-header';

    @import '../template-parts/single-podcasts/episode-header';

    @import '../template-parts/single-podcasts/podcast-player';

    @import '../template-parts/single-podcasts/subscribe';

    @import '../template-parts/single-podcasts/details';
}