body.single-post,
body.category-quick-hits {
	article {
		@import '../template-parts/single-post/article/header';
		
		@import '../template-parts/single-post/article/body';

		@import '../template-parts/single-post/article/footer';
	}

	article.feature {
		@import '../template-parts/single-post/featured-article/featured-image';

		@import '../template-parts/single-post/featured-article/header';

		@import '../template-parts/single-post/featured-article/body';
	}
}