body.page-template-subscribe {
	section.subscribe {
		.info {
			@include tablet-landscape {
				width: 50%;
				padding: 50px 0 0 0;
			}
		}

		.preview {
			@include tablet-landscape {
				width: 50%;
			}
		}
	}
}