body.post-type-archive-weekly_print {

    main.site-content {
        min-height: 0;
    }

    .page-header {
        h1 {
            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 4px;
                background: $green;

            }
        }

        .copy {
            padding-top: 2rem;
            max-width: 840px;
        }
    }

    .weekly-grid {
        margin: 4rem 0 4rem 0;
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        align-self: start;

        @include tablet-portrait {
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }


        .item {
            border-right: 1px solid #d5d5d5;
            border-bottom: 1px solid #d5d5d5;
            text-align: center;
            align-self: start;

            a {
                display: block;
                font-family: $proxima-nova;
                color: $green;
                font-weight: 600;
                font-size: 0.875rem;
                padding: 1rem 1rem 0.875rem 1rem;

                &:hover {
                    background: $green;
                    color: $white;
                }
            }
        }
    }

}