.ji-block.related {
    padding-bottom: 2rem;

    .related-link {
        border: 1px solid #E5D3D3;
        padding: 1rem;
        display: flex;
        align-items: center;
        width: 100%;
    }    

    .photo {
        width: 6rem;
        @include aspect-ratio(1, 1);
        @include cover-image;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        
        & + .info {
            padding-left: 1rem;
            flex: 1;
        }
    }

    .info {
        .related-sub-header {
            padding-bottom: 0.5rem;

            h5 {
                font-weight: normal;
                font-style: italic;
                color: #7a7a7a;
                letter-spacing: 0.05em;
                font-size: clamp(0.75rem, 0.85vw, 0.875rem);
            }
        }

        .tagline {
            padding-bottom: 0.25rem;

            h4 {
                font-family: $proxima-nova;
                color: $green;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.75rem;
                letter-spacing: 0.05em;
            }
        }

        .headline {
            max-width: 30rem;

            h3 {
                font-size: clamp(1rem, 1.25vw, 1.25rem);
                line-height: 1.25em;
                font-weight: normal;

                a {
                    border-bottom-color: transparent;
                    border-bottom-width: 1px;

                    &:hover {
                        border-bottom-color: $black;
                    }
                }
            }
        }

        .read-more {
            padding-top: 0.5rem;

            span.label {
                font-family: $proxima-nova;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.625rem;
                letter-spacing: 0.05em;
                display: inline-block;
                border-bottom: 2px solid $green;
                padding-bottom: 2px;
            }
        }
    }

    .related-podcast {
        .read-more {
            display: flex;
            align-items: center;

            &:before {
                display: block;
                content: '';
                width: 0.75rem;
                height: 0.75rem;
                background: url(images/icon-play.svg) no-repeat 0 0;
                background-size: contain;
                margin-right: 0.25rem;
            }
        }
    }

    &.is-admin {
        max-width: 840px;
        margin: 0 auto;
        
        h3 {
            margin: 0;
        }

        h4 {
            margin: 0;
            line-height: 1em;
        }

        a {
            color: $black;
            text-decoration: none;
        }
    }
}

.show-more-wrapper {
    .ji-block.related {
        padding-top: 2rem;
    }
}