section.body {
    padding-bottom: 3rem;

    
	& > * {
        max-width: 848px;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
	}

    iframe {
        max-width: 848px !important;
        display: block;
    }


    & > p:first-child:first-letter {
        color: $charcoal;
        font-weight: bold;
        display: block;
        border: 4px solid $charcoal;
        float: left;
        font-size: 2.25em;
        line-height: 1em;
        padding: 5px 8px 5px 8px;
        margin: 4px 10px 0 0;

        @include desktop {
            padding: 10px 12px 2px 12px;
            margin: 5px 12px -4px 0;
        }
    } 


    .wp-block-image{
        margin-bottom: 40px;
        
        &.alignfull,
        &.alignwide {
            max-width: 100%;
            margin: 2rem 0 3rem;
            padding-left: 0;
            padding-right: 0;

            img {
                width: 100% !important;
            }

            figcaption,
            .figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                font-family: $proxima-nova;
                font-size: 0.6875rem;
                text-transform: uppercase;
                letter-spacing: 0.075em;
                padding: 5px 10px;
                background: #0008;
                font-style: normal;
                padding: 0;
            }
        }

        &.alignwide {
            max-width: 1400px;
            margin: 0 auto 3rem auto;
        }
    }

    .wp-block-pullquote {
        padding: 0 2rem;

        &.alignwide,
        &.alignfull {
            margin-bottom: 2rem;
        }


        &.alignleft {
            max-width: 100%;
            margin-bottom: 2rem;

            @include tablet-portrait {
                float: left;
                max-width: 400px;
                margin: 0 2rem 2rem 0;
            }
            @media screen and (min-width: 1490px) {
                margin-left: 20rem;
            }
        }

        &.alignright {
            max-width: 100%;
            margin-bottom: 2rem;

            @include tablet-portrait {
                float: right;
                max-width: 400px;
                margin: 0 0 2rem 2rem;
            }

            @media screen and (min-width: 1490px) {
                margin-right: 20rem;
            }
        }

        blockquote {
            margin: 0;
            max-width: 100%;
            text-align: left;
            
            p {
                border-color: $green;
                font-family: $proxima-nova;
                font-weight: bold;
                font-size: clamp(1.5rem, 1.25vw, 2.5rem);
                line-height: 1.5em;
            }
        }

    }
}