section.featured-image {
    @include aspect-ratio(4, 4);
    max-height: 90vh;

    @include tablet-portrait {
        @include aspect-ratio(4, 3);
    }
    
    .content:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: linear-gradient(-25deg, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 100%);
    }

    img {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 100%;
        filter: saturate(0.6);
        z-index: 1;
        position: relative;
    }

    .credit {
        position: absolute;
        bottom: 0;;
        right: 0;
        z-index: 10;

        @include mobile-landscape {
            bottom: 10vh;
            right: 5%;
        }

        @include desktop {
            right: calc(50% - 500px);
        }
    }
}