section.header {			
    max-width: 90%;
    margin: 0 auto;

    @include desktop {
        max-width: 1000px;
    }

    .header-wrapper {
        width: 100%;
        background: $white;
        text-align: center;
        padding: 25px 30px;
        z-index: 3;

        @include mobile-landscape {
            padding: 35px 25px;
            margin-top: -10vh;
        }

        @include desktop {
            padding: 40px 50px 50px 50px;
        }
    }
}