.show-header {
    .info {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1.5rem;
    }

    .meta {
        width: 100%;
        padding-top: 0.5rem;

        @include tablet-portrait {
            width: auto;
            padding-top: 0;
        }

        .time {
            font-family: $proxima-nova;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: #888;
            font-weight: 500;
        }
    }

    .headline {
        .back {
            padding-bottom: 0.75rem;
            a {
                display: inline-block;
                color: $green;
                font-family: $proxima-nova;
                font-weight: bold;
                font-size: 0.8125rem;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }

        h2 {
            font-size: clamp(1.5rem, 2vw, 3rem);

            a:hover {
                text-decoration: underline;
            }
        }
    }
    

}