.podcast-subscribe {
    margin: 0 0 3rem 0;
    padding: 4rem 0 3rem 0;
    background: $blue;
    color: $white;

    .headline {
        padding-bottom: 1rem;

        h4 {
            font-size: clamp(2rem, 2vw, 3rem);

            a {
                color: $white;
            }
        }
        
    }

    .links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .link {
            margin: 0 1rem 1rem 0;

            a {
                display: flex;
                align-items: center;
                background: $white;
                padding: 0.5rem 1rem 0.425rem 0.5rem;
                border-radius: 5px;
                font-size: 0.875rem;
                transition: all 0.4s ease-in;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                min-height: 2rem;

                &:hover {
                    background: #f5f5f5;
                    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
                }

                .icon {
                    max-width: 1rem;

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                .title {
                    padding-left: 0.5rem;
                    font-family: $proxima-nova;
                    font-weight: bold;
                    font-size: clamp(0.75rem, 1vw, 0.9375rem);
                }
            }
        }
    }
}