section#email-gateway {
	display: none;

	.overlay {
		display: flex;
		align-items: center;
	}

	.email-gateway-close {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 20px;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 35px;
		    height: 3px;
		    background: $white;
		    position: absolute;
		    z-index: 1;
		    border-radius: 2px;
		    transition: all 0.2s;
		    top: 19px;
		    left: 2px;
		}
		&:before {
		    transform: rotate(45deg);
		}
		&:after {
		    transform: rotate(-45deg);
		}
	}

	.info {
        width: 100%;

        .headline {
            text-align: center;
            padding-bottom: 2rem;
            h3 {
                font-family: $proxima-nova;
                font-size: clamp(1.5rem, 2.5vw, 2rem);
            }
        }


		form {
            display: flex;
            align-items: center;
            width: 100%;

			input[type="email"] {
				border: 1px solid $slate;
                border-radius: none;
                height: 3rem;
                line-height: 1em;
                padding: 0.5rem;
                flex: 1;
                font-family: $proxima-nova;
			}

			.subscribe-btn {
                margin-left: 1rem;	
			}
		}
	}




}


body.email-gateway-on {
	//overflow: hidden;

	section#email-gateway {
		display: block;

		.overlay {
			background: rgba(51, 51, 51, 0.5);
            padding: 2rem;
		}

		.overlay-wrapper {
			max-width: 50rem;
			margin: auto;
			padding: 3rem;
			display: flex;
			align-items: center;
			height: auto;
            background: $white;
		}
	}	
}

.hide-content {
    //overflow: hidden;

    * {
        transition: all 0.2s ease;
    }

    .page-content, .site-header, .site-footer {
        filter: grayscale(100%);
    }

    .page-content {
        section.body {
            padding: 1rem 0;
            filter: blur(10px);
            user-select: none;
        }
    }
}