nav.pagination {
	width: 100%;
	padding-top: 50px;

	h2.screen-reader-text {
		display: none;
	}

	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		a, span {
			font-family: $proxima-nova;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $slate;
			width: 32px;
			height: 32px;
			margin: 0 5px;
			font-size: 0.875em;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			padding-top: 2px;
		}

		span.current {
			background: $green;
			border-color: $green;
			color: $white;
			font-weight: bold;

		}

		a.page-numbers {
			&:hover {
				background: $slate;
				color: $white;
			}

			&.next,
			&.prev {
				border: none;
				width: auto;
				height: auto;
				padding-top: 1px;

				&:hover {
					background: transparent;
					color: $slate;
					text-decoration: underline;
				}

			}

		}
	}
}