section.subscribe {
    order: -1;
    border-bottom: 5px solid $green;
    padding-bottom: 25px;

    @include tablet-landscape {
        order: 2;
        border-bottom: none;
    }

    @include desktop {
        align-items: flex-start;
    }

    .info {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 30px 25px;

        @include desktop {
            width: 50%;
            padding: 50px 0 0 0;
        }

        .pullquote {
            margin-top: 50px;
        }

        .form {
            padding-bottom: 0;
        }
    }

    .preview {
        width: 100%;
        display: flex;

        @include desktop {
            width: 50%;
        }

        .frame {
            margin: 0 auto;
            background: url(images/iphone-frame.png) no-repeat 0 0;
            background-size: 100%;
            width: 100%;
            height: 100%;
            max-width: 523px;
            max-height: 960px;
            transform: translateX(-2%);
            overflow: hidden;

            &:before {
                padding-top: 183.55%;
                content: '';
                display: block;
            }
        }

        .photo {
            width: 100%;
            height: 100%;
            max-width: 380px;
            max-height: 770px;
            transform: translateX(-2%);
            margin: 2rem auto;
            padding: 0 2rem;

            @include desktop {
                margin: 3rem auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .email {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 18% 11.2% 24% 17.25%;

            .iframe-container {
                width: 100%;
                height: 100%;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                iframe {
                    border: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

section.subscribe,
section#subscribe-form {
    .headline {
        h1 {
            @include tablet-landscape {
                font-size: 2.25em;
            }

            @include desktop {
                font-size: 2.75em;
            }
        }
    }

    .dek {
        padding-top: 10px;

        p {
            color: rgba(51, 51, 51, 0.6);
            font-family: $proxima-nova;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.25em;

            @include tablet-landscape {
                font-size: 1.125em;
            }
        }
    }

    .form {
        padding: 1.5rem 0 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet-landscape {
            padding: 1.5rem 0;
        }

        input.email {
            padding: 10px;
            font-family: $proxima-nova;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid $light-gray;
            appearance: none;

            @include tablet-landscape {
                flex: 1;
                margin-right: 10px;
                margin-bottom: 0;
                padding: 11px 10px;
                width: auto;
            }
        }
    }

    .pullquote {
        display: none;
        background: url(images/quote-marks.svg) no-repeat left top;
        background-size: 72px 48px;

        @include tablet-portrait {
            display: block;
        }

        blockquote {
            padding: 30px 0 0 30px;
            margin: 0;
            position: relative;

            &:after {
                background: url(images/quote-marks-end.svg) no-repeat left top;
                background-size: 72px 48px;
                display: block;
                content: '';
                width: 72px;
                height: 48px;
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 0px;
            }

            p {
                font-style: italic;
                font-size: 1.25em;
                line-height: 1.6666em;

                @include tablet-portrait {
                    font-size: 1.5em;
                }
            }
        }

        cite {
            display: flex;
            align-items: center;
            font-style: normal;
            padding: 15px 0 0 30px;

            .photo {
                width: 72px;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .source {
                flex: 1;
                padding-left: 20px;

                h4 {
                    font-size: 1.375em;
                }

                h5 {
                    font-family: $proxima-nova;
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    color: $mid-gray;
                    font-size: 0.875em;
                    padding-top: 5px;
                }
            }
        }
    }
}
