.subscribe-btn {
	color: $white;
	background: $green;
	padding: 13px 24px 10px 24px;
	border-radius: 24px;
	font-size: 1.25em;
	font-weight: bold;
	border: 2px solid $green;
	transition: all 0.3s ease-in-out;

	&.clear {
		background: transparent;

		&:hover {
			background: $green;
		}
	}

	&.clear-charcoal {
		background: transparent;
		color: $charcoal;

		&:hover {
			background: $green;
			color: $white;
		}
	}

	&.white {
		background: transparent;
		border-color: $white;

		&:hover {
			background: $white;
			color: $charcoal;
		}
	}
}