article.newsletter {
    margin: 0 auto;
    order: 2;
    border: none;
    display: block;

    section.header {
        .title {
            text-align: center;

            h2.post-type {
                color: $charcoal;
                font-size: 2em;

                @include tablet-portrait {
                    font-size: 3em;
                }
                
                &:after {
                    display: block;
                    content: '';
                    width: 40px;
                    height: 4px;
                    background: $green;
                    margin: 15px auto 0 auto;
                }
            }

            h1.large-title {
                font-size: 1.5em;
                font-weight: bold;
                line-height: 1.2em;
                color: $charcoal;

                @include mobile-landscape {
                    font-size: 2em;
                }			
            }
        }

        .date {
            text-align: center;
            padding-top: 25px;

            span {
                display: block;
                font-size: 1.25em;
            }
        }

        .share {
            justify-content: center;
            padding: 25px 0 25px 0;
        }
    }

    .dk-block,
    .wp-block-group {

        & + .dk-block,
        & + .wp-block-group {
            padding-top: 50px;
        }

        h2 {
            text-align: center;
            padding-bottom: 25px;

            &:after {
                display: block;
                content: '';
                width: 40px;
                height: 4px;
                background: $green;
                margin: 15px auto 0 auto;
            }
            
            @include tablet-portrait {
                font-size: 2rem;
            }
        }

        h4 {
            text-transform: uppercase;
            color: $green;
            font-family: $proxima-nova;
            font-weight: bold;
            letter-spacing: 0.05em;
            font-size: 0.875em;
        }

        h3 {
            font-size: 1.5em;
            line-height: 1.25em;
            padding-bottom: 15px;

            @include tablet-portrait {
                font-size: 1.75em;
            }
        }
    }

    .tagline + .headline {
        padding-top: 0.625rem;
    }
}